.intro-container-right-4 {
    width: 450px;
    height: 450px;
}

.module-border-wrap-4 {
    width: 450px;
    height: 450px;
    background: linear-gradient(140deg, rgba(22,19,74) 22%, rgba(0,194,165,1) 100%);
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .module-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0c0b0b;
    color: white;
    width: 425px;
    height: 425px;
    border-radius: 50%;
  }

  /* .helper {
    height: 100vh;
    background-color: black;
  } */

  .App-logo {
    width: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
  }